@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="float-left">
    <img src="~/Content/Images/CSIC_Logo.png" height="82" />
    <h3> Innovation and Knowledge Centre funded by EPSRC and Technology Strategy Board</h3>
</div>

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>

</section>

