@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
 

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+44 1223 746976</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
    <p>
        <span><a href="mailto:Sh824@cam.ac.uk">Simon Hartley</a></span>
    </p>
    </p>
    <p>
        <span class="label">Please direct enquiries to:</span>
        <p>
        <span><i> Larissa Moore, Programme Coordinator</i></span>
        <span><a href="mailto:csic-admin@eng.cam.ac.uk">csic-admin@eng.cam.ac.uk</a></span>
            </p>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
    <p> <b>Centre for Smart Infrastructure & Construction</b></p>
    <p>University of Cambridge</p>
    <p>Department of Engineering</p>
    <p>Trumpington Street</p>
    <p>Cambridge CB2 1PZ</p>
    <p>United Kingdom</p>
    </p>

</section>
<section class="Location Map">
    <header>
        <h3>Location Map:</h3>
    </header>
    <p>
        The Centre for Smart Infrastructure and Construction main office is located within the University of Cambridge Department of Engineering.
    </p>
    <p>
        Please see the <a href="http://map.cam.ac.uk/Centre+for+Smart+Infrastructure+and+Construction"> interactive map</a>.
    </p>
</section>

